@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0%;
    padding: 0%;
    /* border: 1px solid red; */
    font-family: "Poppins";
    
}

body{
    background-color: #F3FF90;
}


nav{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #059212;
    color: #F3FF90;
}

nav .logo-container{
    flex: 2;
}

nav .logo{
    font-weight: 800;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@keyframes logo-color {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

nav .logo .line{
    width: 0px;
    height: 5px;
    background-color: #F3FF90;
    animation: logo-color 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;

}

nav ul{
    display: flex;
    gap: 5px;
    flex: 3;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #F3FF90;
    position: relative;
}
nav ul li a::after{
    content: "";
    height: 2.5px ;
    width: 0%;
    background-color: #F3FF90;
    position: absolute;
    bottom: 0%;
    right: 0%;
    transition: 1s;
}


nav ul li a:hover::after{
    width: 100%;
    transition: .4s;
}

.about-container{
    display: flex;
    /* border: 2px solid red; */
    height: 80vh;
    /* width:100%; */
    align-items: center;
    justify-content: center;
}
.about-section{
    /* border: 6px solid lightcoral; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  
}
.about-img{
    background-image: url(../assets/turf5.jpeg);
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    /* border: 3px solid navy; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    margin-right: 20px;
    
}
.subject{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    /* border: 3px solid rgb(221, 9, 9); */
    width: 500px;
    padding: 10px;
    gap: 10px;
    transition: 1s;
}
.subject:hover{
    font-weight: 700px;
    color: rgb(24, 215, 65);
    background:rgba(255, 255, 255, 0.053) ;
    transition: 1s;
}
.glass {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5.9px);
    border: 1px solid rgba(255, 255, 255, 1);
}



@media only screen and (max-width: 720px) {
    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        width: 100%;
        justify-content: space-around;
        gap: 10px;
    }

    nav ul li {
        flex: 1;
    }
    .about-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about-section{
        /* border: 6px solid lightcoral; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
/*         border: 2px solid red; */
    }
    .about-img{
        width: 250px;
        height: 250px;
        padding: 10px;
        margin: 20px;
    }
    .subject{
        width: 320px;
        display: flex;
        flex-wrap: wrap;
    }
}
