@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0%;
    padding: 0%;
    /* border: 1px solid red; */
    font-family: "Poppins";
    
}

body{
    background-color: #F3FF90;
}

nav{
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #059212;
    color: #F3FF90;
}

nav .logo-container{
    flex: 2;
}

nav .logo{
    font-weight: 800;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

@keyframes logo-color {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}

nav .logo .line{
    width: 0px;
    height: 5px;
    background-color: #F3FF90;
    animation: logo-color 3s;
    animation-iteration-count: infinite;
    animation-direction:alternate;

}

nav ul{
    display: flex;
    gap: 5px;
    flex: 3;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    
}

nav ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    color: #F3FF90;
}

.search{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.search .container{
    width:80%;
    display: flex;
    justify-content: center;
    height: 50px;

}

.search .container input,button,select{
    font-weight: 500;
    border: 1px solid black;
    background-color: #9fff9d;
}

.search .container input{
    flex: 8;
    padding-left: 15px;
    border-radius: 20px 0px 0px 20px;
    border-right: 0px solid ;
    text-align: center;
}

.search .container button{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-left: 0px solid ;
    border-right: 0px solid ;
}

.search .container select{
    flex: 1;
    text-align: center;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    border-left: 0px solid ;
}

.search .container input:hover {
    border: 1px solid rgb(0, 0, 0) ;
    background-color: hsl(119, 82%, 68%);
}

.search .container button:hover{
    border: 1px solid rgb(0, 0, 0) ;
    background-color: hsl(119, 82%, 68%);
}

.search .container select:hover{
    border: 1px solid rgb(0, 0, 0) ;
    background-color: hsl(119, 82%, 68%);
}

.cards{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    
    flex-wrap: wrap;
    padding: 10px;
    gap: 20px;
}

.cards a{
    text-decoration: none;
    color: black;
}


.card{
    display: flex;
    height: 350px;
    width: 300px;
    flex-direction: column;
    background-color: #b9ffb8a9;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    transition: 1s;
}

.card:hover{
    box-shadow: 5px 5px 6px#00000073;
    transition: .2s;
}

.card-img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    background-image: url("https://i.pinimg.com/originals/fb/f4/b4/fbf4b4b5b982c142d6b25d8bf45daa40.gif");
    background-size: cover;
    background-position: center;
    border-radius: 20px 20px 0 0 ;
}

.card .turf-name{
    background-color: #9fff9d;
    padding: 10px;
    font-size:25px;
    font-weight: 800;
    text-transform: uppercase;
}

.card .details{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card .details li {
    list-style: none;
    padding: 3px;
    display: flex;
    align-items: center;
    flex: 2;
    gap: 10px;
    padding-left: 10px;
    border-bottom: 1px solid black;
}


.card .details li:last-child{
    border-style: none;
}
.container-about{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.upcoming h2{
    padding: 20px;
}



.cont-about{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}



@media only screen and (max-width: 660px) {
    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        width: 100%;
        justify-content: space-around;
        gap: 10px;
    }

    nav ul li {
        flex: 1;
    }

    .card{
        width: 250px;
        font-size: .8rem;
        height: 290px;
    }

    .card .turf-name{
        font-size: 1rem;
    }
    .cards{
        display: flex;
        justify-content: center;
        /* border: 2px solid red; */
        
        flex-wrap: wrap;
        padding: 10px;
        gap: 20px;
    }
    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 40px;
        width: 900px;
    }

  }